<div class="container container-fluid p-2 my-4">
    <div class="row">
        <div class="col-md-6">
            <img src="img/banner2.png" class="w-100 rounded shadow-sm border" />
        </div>
        <div class="col-md-6 p-4">
            <div class="display-4 mb-3">About Us</div>
            <p class="lead text-muted">
                BDSoft &trade; is a division of BD Group (Pty)Ltd of South Africa, other copyrighted trademarks such as DICRE &trade; (Development Institute of Computer Research), Oren Laboratories (Pty) Ltd associate to BD Group as the "Company" in business relation with other supportive business partners.
                
            </p>
             
            <p class="lead text-muted my-2">
               
                BD Group (Pty)Ltd was established in the year 2016 as legal business entity, founded by MR. G.S Matyila later partner with Trend Micro as Reseller for Security products such as Anti-Virus solutions before this it was sole reseller of hosting, website services such as Linux Hosting, CPanel Administration and Support.
                This company started as an IT Support offering remote IT support to clients the "CEO" having to leave a IT Role as a Network/IT support for MA Kolia & Associates to start consulting and outsourcing IT services to assist other companies reduce IT costs. 
               
            </p>
 
        </div>

    </div>
</div>
</div>