<div class="container container-fluid p-2 my-4">
    <div class="display-4">Contact Information</div>
        <div class="rows my-4">
            <div class="col-md-6 p-4">

                <ul class="nav">
                    <li class="nav-link">
                        <h4>Office Phone</h4>
                        Tel: {{$ctrl.phone}}</li>
                    <li class="nav-link">
                        <h4>Fax Number</h4>
                        Fax: {{$ctrl.fax}}
                    </li>
                    <li class="nav-link">
                        <h4>Public Email</h4>
                        Email: {{$ctrl.email}}</li>
                        <li class="nav-link">
                                <h4>Tracing Support</h4>
                                Email: {{$ctrl.tracing}}</li>
                </ul>
            </div>
        </div>
</div>