<div class="container">
    <div class="p-2 my-3">
     
       <div class="display-4">{{$ctrl.section}}</div>
        <p class="lead text-muted">
            {{$ctrl.title}}
        </p>
        <div class="row well-sm shadow-sm p-4">
            <div class="col-md-6">
                <form ng-show="$ctrl.isForm">
                    <p class="lead">{{$ctrl.subscriptionLabel}}</p>
                    <input type="email" placeholder="email"  class="form-control w-60" ng-model="$ctrl.email" required />
                    <p></p>
                    <button ng-click="$ctrl.getInformation()" class="btn btn-red btn-lg">Request License</button>
                </form>
                <p ng-show="$ctrl.isNotify">
                    <span>{{$ctrl.notification}}</span>
                </p>
                <hr>
                <img ng-src="{{$ctrl.partnerImage}}" class="w-100" />
            </div>
        </div>
       
    </div>
</div>