<div class="container p-4" ng-controller="RenewalCtrl as renewal">
    <div class="media">
        <div class="media-left">
            <img src="img/banner2.png" width="200" class="rounded shadow-sm border" />
        </div>
        <div class="media-body p-4">
            <div class="media-header">
                <div class="display-4">{{renewal.section}}</div>
                <p class="lead text-muted">
                    {{renewal.title}}
                </p>
            </div>

            <form ng-show="renewal.isForm">
                <p class="lead">{{renewal.subscriptionLabel}}</p>
                <input type="email" placeholder="Customer Email" class="form-control" ng-model="renewal.email" required />
                <p></p>
                <button ng-click="renewal.getInformation()" class="shadow-sm btn p-3 btn-info rounded btn-lg">Request License</button>
            </form>
            <p ng-show="renewal.isNotify">
                <span class="alert alert-success font-weight-bold">{{renewal.notification}}</span>
            </p>
        </div>
        </div>
</div>

 