<div class="container container-fluid p-2 my-4">
        <div class="display-4">Consumer/Trace Information</div>
            <div class="rows my-4">
                <div class="col-md-6 p-4">
    <p class="lead text-muted">
                        Trace search report is a non-footprinting trace search that offers an extremely flexible input range for finding people. This report offers the most recent contact and employer information on file from all of South Africa's leading Credit Bureaus. Search with just Name, Surname and Date of Birth or use there ID Number. Our all in one system will give you access to all of our reports and searches like our ID Verification Reports and our Company Risk Reports.
                </p>
                    </div>
            </div>
    </div>