<div class="container container-fluid p-2 my-4">
    <div class="row">
        <div class="col-md-6 p-4">
            <div class="display-4 mb-3">ITC Tracing</div>
            <h5>You have the right to know why credit has been refused</h5>
            <p class="lead text-muted">
                You may ask the credit provider or bank to explain, in writing, their main reasons for:
               
            </p>
            <ul class="p-3">
                <li> Refusing your application for a new loan/credit</li>
                <li>  Refusing your application for an increased limit on existing loan/credit</li>
                <li>  Refusing to renew a renewable loan/credit (such as a credit card)</li>
                <li>
                    Offering a lower credit limit than the limit you applied for
                    Reducing your existing credit limit
                </li>
            </ul>
            <p class="lead text-muted mb-2">

                The National Credit Act (NCA) gives you the right to apply for credit. All consumers must be treated equally in relation to one another when credit providers assess your application, determine rates/fees and compile and enforce the credit agreement.
            </p>
        </div>
        <div class="col-md-6">
            <img src="img/banner2.png" class="w-100 rounded shadow-sm border" />
        </div>
    </div>
</div>
</div>