<div class="container container-fluid p-2 my-4">
    <div class="row">
        <div class="col-md-6 p-4">
            <div class="display-4 mb-3">ITC Tracing</div>
            <p class="lead text-muted">
                Trace search report is a non-footprinting trace search that offers an extremely flexible
                input range for finding people. This report offers the most recent contact and employer
                information on file from all of South Africa's leading Credit Bureaus.
            </p>
            <p class="lead text-muted mb-2">
                
                Search with just Name, Surname and Date of Birth or use there ID Number. Our all in one system will give
                you access to all of our reports and searches like our ID Verification Reports and our
                Company Risk Reports.
            </p>
        </div>
        <div class="col-md-6">
            <img src="img/banner2.png" class="w-100 rounded shadow-sm border" />
        </div>
    </div>
</div>
</div>