<div class="container-fluid bg-light p-2 my-4">
        <div class="display-3 text-center  my-5 text-capitalize">
        Award winning* Protection for PC, Android&trade; and MacOS
        </div>
    <div class="row text-left text-muted my-4">
        <div class="col-md-6 ">
            <img src="trendmicro/consumer-boxshots-2016.png" class="w-100"/>
        </div>
        
        <div class="col-md-6 bg-light">
           <h1 class="display-4 my-4 text-dark">Protection for small and midsize businesses </h1>
           <h3 class="text-muted">Worry-Free Services Advanced</h3>
           <p class="lead text-dark my-4">
                Cloud-based protection for all your
                users and endpoints.
           </p>
           <a href="/#/products" class="shadow-sm btn p-3 btn-info rounded btn-lg">Learn More</a> 
         </div>
    </div>
</div>

<div class="container-fluid  my-4">
    <div class="display-3 text-center my-5">Prepare for, withstand, and rapidly recover from threats - now and in the future. 
        </div>
    <div class="row text-center text-muted my-4">
        <div class="col-md-4">
            
            <img src="trendmicro/Hybrid-Cloud.png" alt="hybrid cloud"/>
            <h3>Hybrid Cloud</h3>
            <p class="lead my-3">
                Secure your physical, virtual, cloud, and container environments more effectively with a single solution. Simple. Automated. Improved visibility and control.
            </p>
            <a href="/#/products" class="shadow-sm btn p-3 btn-info rounded btn-lg">Learn More</a> 
        </div>
        <div class="col-md-4">
            <img src="trendmicro/Network-Defense.png" alt="network defense"/>
            <h3>Network Defense</h3>
            <p class="lead my-3">
                Detect and protect against known and unknown vulnerabilities with cross-generational protection techniques.
            </p>
            <a href="/#/products" class="shadow-sm btn p-3 btn-info rounded btn-lg">Learn More</a> 
        </div>
        <div class="col-md-4">
            <img src="trendmicro/User-Protection.png" alt="user protection"/>
            <h3>User Protection</h3>
            <p class="lead my-3">
                Protect your users with the right technique at the right time with simplified security that gives you increased visibility and a faster response to attacks. 
            </p>
            <a href="/#/products" class="shadow-sm btn p-3 btn-info rounded btn-lg">Learn More</a> 
        </div>
    </div>
</div>


