<div class="container-fluid my-4">
        <div class="form-group">
            <div class="row bg-dark">
                    <div class="col"></div>
                <div class="col-md-4 p-2">
                    <p class="text-left text-white font-weight-bold">
                        Find products by name
                    </p>
                    <input type="text" ng-model="$ctrl.shoppingItems.product" placeholder="type here..." class="form-control" />
                </div>
                <div class="col"></div>
            </div>
        </div>
        <ul class="nav">
                <li ng-repeat="item in $ctrl.shoppingItems | filter: $ctrl.shoppingItems.product">
                    <div class="p-2 m-1 shadow-sm rounded">
                        <div class="row">
                            <div class="col-md-6">
                                <img ng-src="{{item.image}}" class="w-75" />
                            </div>
                            <div class="col-md-6">
                                <h1>{{item.product}}</h1>
                                <p>{{item.description}}</p>
                                <a ng-href="{{item.download}}" class="my-4 btn btn-red bg-red p-2 shadow-sm">Download Now</a>
                           
                               <p class="text-muted my-2">
                                    Need help with the upgrade? <a href="/#/login">Click here</a> for instructions.
                               </p>
                            </div>
                            <hr/>
                        </div>
                    </div>
                </li>
        </ul>        
</div>