
<div class="bg-light container-fluid w-100 shadow-sm">
        <div class="row pt-3 collapse">
            <div class="col-md-3 text-muted p-1 text-left">
                
                <ul class="container text-justify text-left my-2">
                    <li class="nav-link">
                        <a href="#">
                            <img src="img/partner.png" class="w-100" />
                        </a>
                    </li>
                 </ul>
            </div>
            <div class="col-md-3 text-muted p-1 text-left">
                <h5 class="title">ICT Services </h5>
                <ul class="container text-justify text-left">
                    <li class="nav-link">Security Reports <a href="https://www.trendmicro.com/vinfo/ae/security/research-and-analysis/threat-reports"> >> </a></li>
                    <li class="nav-link">Free Webinars <a href="https://www.trendmicro.com/en_ae/about/webinars-customer.html"> >> </a></li>
                    <li class="nav-link">Success Stories <a href="https://www.trendmicro.com/en_ae/about/customer-stories.html"> >> </a></li>
                    <li class="nav-link">Maximum Security <a href="https://www.trendmicro.com/en_ae/forHome/products/maximum-security.html"> >> </a></li>
                </ul>
            </div>
            <div class="col-md-3 text-muted p-1 text-left">
                <h5 class="title">Business Services</h5>
                <ul class="container text-justify text-left">
                    <li class="nav-link">FAQ Products <a href="https://esupport.trendmicro.com/en-us/home/pages/resources.aspx"> >> </a></li>
                    <li class="nav-link">Home & Office Support <a href="https://esupport.trendmicro.com/en-us/home/pages/technical-support/1115328.aspx?cm_mmc=MyAccount-_-ContactSupport-_-AllProducts-_-All"> >> </a></li>
                    <li class="nav-link">Renewals <a href="https://account.trendmicro.com/mylogin"> >> </a></li>
                    <li class="nav-link">Free Stuff <a href="https://www.trendmicro.com/en_ae/forHome/products/free-tools.html"> >> </a></li>
                </ul>
            </div>
            <div class="col-md-3 text-muted p-1 text-left">
                <h5 class="title">Digital Products </h5>
                <ul class="container text-justify text-left">
                    <li class="nav-link">Trend Micro Home <a href="https://www.trendmicro.com/en_ae/forHome.html"> >> </a></li>
                    <li class="nav-link">Internet Security <a href="https://www.trendmicro.com/en_ae/forHome/products/internet-security.html"> >> </a></li>
                    <li class="nav-link">Antivirus+ Security <a href="https://www.trendmicro.com/en_ae/forHome/products/antivirus-plus.html"> >> </a></li>
                    <li class="nav-link">Antivirus for Mac <a href="https://www.trendmicro.com/en_ae/forHome/products/antivirus-for-mac.html"> >> </a></li>
                </ul>
            </div>
        </div>
       
        <div class="row bg-dark text-light p-4 shadow-sm text-center">
                <span class="text-muted text-center p-2 mx-1">
                    Orenlabs.com &copy; 2010-2019 - <a href="http://connect.orenlabs.com">Connect with us</a> | <a href="/#/privacy">Privacy Policy</a></span>
                <a class="bg-info p-2 shadow-sm lead rounded text-white font-weight-bold" href="http://webix.orenlabs.com">Webix JS Coming soon!</a>
                
              <br/>PayFast handles secure online payments on behalf of Oren Laboratories. By transacting with PayFast,Consumer advisory- PayPal Pte. Ltd., the holder of PayPal's stored value facility, does not require the approval of the Monetary Authority of Singapore.</small>
              <small><img src="img/payfast-logo-white.png" width="100"  alt="payfast logo" class="mx-2"/><img class="mx-2" src="img/mastercard-horizontal-white.png" width="100" alt="mastercard logo"/>
            </div>
           
    </div>

