<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" ng-controller="members-menu">
    <a href="#/" class="navbar-brand lead font-weight-bold font-italic text-muted">
        <img src="img/logo.png" width="60"/> OREN LABORATORIES
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ml-auto font-weight-normal">
          <li class="nav-item active">
            <a class="nav-link  p-3" href="/#/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  p-3" href="/products">Downloads</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  p-3" href="/websites">Managed Websites</a>
          </li>
        </ul>
      </div>
</nav>