<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <a href="/#/" class="navbar-brand lead font-weight-bold font-italic text-muted">
            <img src="img/logo2.png" width="100" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse font-weight-bold" id="navbarNav">
            <ul class="navbar-nav ml-auto font-weight-normal">
                <li class="nav-item">
                    <a class="nav-link  p-3" href="/#/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  p-3" href="/#/about">About</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle p-3" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item text-light" href="/#/websites">Get Websites for R199pm</a>
                        <hr />

                        <a class="dropdown-item text-light" href="/#/tracing">Advanced Trace PLUS Debt Review</a>
                        <a class="dropdown-item text-light" href="/#/tracing">TransUnion Consumer Trace</a>
                        <a class="dropdown-item text-light" href="/#/tracing">XDS Consumer Trace</a>
                        <a class="dropdown-item text-light" href="/#/tracing">Compuscan Consumer Trace</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle p-3" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Downloads
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item text-light" href="/#/products">Anti-Virus Solutions</a>

                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link  p-3" href="/#/support">Get In Touch</a>
                </li>
            </ul>
        </div>
    </nav>